body {
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #222;
}

#main {
    width: 80%;
    margin: 35px auto;
    text-align: center;
    background-color: #f5e4b6;
    padding: 0px 30px;
    border-radius: 12px;
    box-shadow: 2px 5px 10px #aaa;
}

#main>header>#title {
    font-size: 32px;
    padding-top: 10px;
    border-bottom: 1px solid #333;
}

#main>header>p {
    max-width: 75%;
    margin: auto;
    font-size: 16px;
}

#img-div {
    max-width: 60%;
    margin: 25px auto;
    padding: 20px 0;
    background-color: #c5dbe8;
    text-align: center;
    border-radius: 7px;
}

#img-div>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 7px;
    padding-bottom: 15px;
}

.place-list {
    margin: 30px -8px 0px;
}
.place-item {
    float: right;
    width: calc(100% / 3);
    padding: 0px 8px;
    padding-bottom: 48px;
}
.bia-img {
    width: 25%;
    display: block;
}

.bia-img:hover {
    opacity: 0.6;
}

.place-body {
    float: left;
    padding: 16px;
    color: #000;
    font-size: 10px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-dsc {
    margin-top: 15px;
    line-height: 1.4;            
}
.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover {
    color:#000;
    background-color: #ccc;
}


#tribute-info {
    max-width: 75%;
    margin: auto;
}

#tribute-info>h2 {
    font-size: 22px;
    padding-bottom: 15px;
}

#tribute-info>ul {
    text-align: left;
    max-width: 80%;
    margin: auto;
}

#tribute-info>ul>li {
    padding-bottom: 20px;
}

#tribute-info>#blockquote {
    border: 2px solid #222;
    padding-bottom: 16px;
    border-radius: 6px;
    max-width: 80%;
    margin: auto;
}

#main>footer {
    padding: 25px 0;
}

#main>footer>a {
    text-decoration: none;
    color: #bbb;
}

#main>footer>a:hover {
    font-weight: bold;
}

#blockquote a {
    justify-content: end;
    color: #333;
    text-decoration: none;
}

/* Media Query for mobile devices */

@media (max-width: 768px) {
    #main>header>p {
        max-width: 95%;
    }

    #img-div {
        max-width: 80%;
    }

    #tribute-info {
        max-width: 95%;
    }

    #tribute-info>ul {
        max-width: 95%;
    }

    #tribute-info>#blockquote {
        max-width: 90%;
    }
}
